@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html {
  scrollbar-gutter: stable;
}

body {
  transition: background-color 0.5s, color 0.5s;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
